.trek-booking-container {
  .book-trek-title {
    margin-top: 10px;
    span {
      color: $yellow;
      font-size: 16px;
      font-weight: 700;
    }
    h1 {
      color: $text-color;
      font-size: 34px;
      @include potrait {
        font-size: 20px;
        margin-top: 4px;
      }
      font-weight: 700;
      color: #023047;
      margin-bottom: 23px !important;
    }
    border-bottom: 1px solid #c5c5c5;
  }
  .book-terk {
    .price {
      @include potrait {
        margin-top: 10px;
      }
    }
    .mb-incre {
      @include potrait {
        @include center;
      }
    }
    .incre {
      position: relative;
      @include potrait {
        justify-content: center;
      }
      span {
        border: 1px solid #e4e4e4;
        color: $yellow;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        @include center;
        font-size: 18px;
        font-weight: 500;
        @include potrait {
          height: 43px;
          width: 43px;
        }
      }
      .value-input {
        width: 100%;
        border: 1px solid #e4e4e4 !important;
        text-align: center;
        padding: 4px 0px !important;
        border-radius: 16px;
        font-size: 15px;
        font-weight: 500;
        @include mini {
          width: 100%;
        }
        @include potrait {
          width: 100%;
          border-radius: 25px;
          padding: 10px 0px !important;
        }
      }
      .plus {
        position: absolute;
        left: 0;
        top: 1px;
        // @include potrait {
        //   left: 77px !important;
        // }
      }
      .minus {
        position: absolute;
        right: 0px;
        top: 1px;
        @include mini {
          right: 0;
        }
        // @include potrait {
        //   right: 77px !important;
        // }
      }
    }
    display: flex;
    align-items: center;
    @include mini {
      flex-direction: column;
    }
    .trek-bookk-left {
      flex-basis: 65%;
      .trek-right-top {
        background-color: $bg;
        padding: 10px 10px;
        p {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .circle-box {
        background-color: $yellow;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include center;
        font-size: 16px;
        font-weight: 500;
      }
      h6 {
        font-size: 16px;
        font-weight: 600;
      }
      .traveler {
        padding: 19px 20px;
        @include potrait {
          padding: 16px 0px;
        }
        margin-top: 20px;
        background-color: $bg;
        .inner-travel {
          .circle-box {
            background-color: $yellow;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            @include center;
            font-size: 16px;
            font-weight: 500;
          }
          h6 {
            font-size: 16px;
            font-weight: 600;
          }
          .no-tarveler {
            background-color: #fff;
            border: 1px solid #e4e4e4;
            padding: 20px 12px;
            border-radius: 4px;

            h2 {
              font-size: 14px;
              font-weight: 500;
            }
            .price-dis {
              span {
                color: #a4a4a4;
                font-size: 8px;
                font-weight: 500;
              }
              .dis-box {
                position: relative;
                h2 {
                  color: $yellow;
                  &::after {
                    content: '';
                    width: 1px;
                    height: 57px;
                    background-color: #fb8500;
                    position: absolute;
                    top: -20px;
                    left: 30px;
                    transform: rotate(89deg);
                  }
                }
              }
            }
          }
        }
      }
      .tour-add {
        background-color: $bg;
        h2 {
          font-size: 14px;
          font-weight: 500;
        }
        padding: 20px 30px;
        @include potrait {
          padding: 20px 0px;
        }

        .tour-add-box {
          border: 1px solid $b-color;
          background-color: #ffff;

          border-radius: 4px;
          .tour-add-row {
            border-bottom: 1px solid $b-color;
            padding: 10px 16px;
            @include potrait {
              align-items: flex-start !important;
            }
            &:last-child {
              border-bottom: 0 !important;
            }
          }
        }
        .price {
          flex-basis: 35%;
        }
        .facilites {
          flex-basis: 50%;
        }
        .tour-inc-box {
          // background-color: red;
          flex-basis: 15%;
          @include potrait {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
      .person-detail {
        padding: 19px 20px;
        @include potrait {
          padding: 19px 0px;
        }
        background-color: $bg;
        h2 {
          font-size: 16px;
          font-weight: 500;
        }
        .user-info {
          padding: 10px 20px;
          @include potrait {
            padding: 10px 8px;
          }
          .select-title {
            width: 100%;
            border: 1px solid $b-color;
            border-radius: 4px;
            padding: 10px 8px;
            color: #4b4b4b;
            .select-title {
              font-size: 16px;
              color: #4b4b4b;
              font-weight: 400;
            }
          }

          .down-icon {
            position: absolute;
            top: 11px;
            right: 10px;
          }
        }
      }
      .payment-box {
        padding: 19px 20px;
        background-color: $bg;
        @include potrait {
          padding: 19px 0px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          margin-top: 10px;
        }
        h3 {
          font-size: 16px;
          font-weight: 500;
          line-height: 0px;
          margin-top: 30px;
        }
        .payment-card-inner {
          box-shadow: 0 3px 6px rgba(#000000, 0.2);
          background-color: #ffff;
          border-radius: 4px;
          margin-top: 35px;
          padding: 0px 14px;
        }
        .check {
          @include center;
        }
        .deposit-amount {
          padding: 26px 10px !important;
          h1 {
            font-size: 24px;
            font-weight: 600;
            line-height: 19px;
            @include potrait {
              font-size: 18px;
            }
            text-align: center;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            span {
              font-size: 14px;
              font-weight: 600 !important;
            }
          }
        }
      }
    }
    .trek-book-right {
      flex-basis: 35%;
      align-self: flex-start;
      margin-left: 35px;
      @include mini {
        margin-left: 0px !important;
      }
      .trek-book-right-title {
        @include mini {
          padding-top: 26px;
        }
        padding: 7px 14px;
        border: 1px solid $b-color;
        .help-box {
          margin-top: 40px;
          margin-bottom: 12px;
          border: 1px solid #e4e4e4;
          padding: 20px 20px;
          border-radius: 6px;
          text-align: center;
          p {
            font-size: 16px;
            font-weight: 300;
          }
        }
        ul {
          li {
            margin-bottom: 10px;
          }
        }
        .right-sub {
          flex-basis: 48%;
          h3 {
            font-size: 16px;
            font-weight: 300;
          }
        }
        .left-sub {
          flex-basis: 52%;
          h3 {
            font-size: 16px;
            font-weight: 500;
            color: #000000;
          }
        }
        h2 {
          font-size: 18px;
          font-weight: 600;
        }
        .review {
          background-color: $p;
          color: #ffff;
          border-radius: 12px;
          font-size: 13px;
          font-weight: 400;
          padding: 2px 10px;
          margin-left: 6px;
        }
      }
      .trek-img {
        @include mini {
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }
}
