.product-details-card {
  p {
    color: $text-color;
  }
  h1 {
    color: #0000;
  }
  .product-content {
    width: 50%;
    .action-btn > span {
      font-size: 24px;
    }
  }
  .review > span {
    color: $text-color;
    margin-left: 20px;
  }
}
.review-container {
  h5 {
    color: #0000;
  }
}
.review-card {
  flex: none;
  display: flex;
  color: #0000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  img {
    width: 40%;
  }
}
.noreview > p {
  color: #0000;
  text-align: center;
}
.pageActive {
  color: red;
}
