.product-card {
  color: $text-color;
  border: 1px solid #eaeaea;
  p {
    text-transform: capitalize;
  }
  transition: all 0.2s linear;
  &:hover {
    transform: translateY(10px);
  }
  .la-tag {
    color: #ffff;
  }
}
.title {
  color: #ffff;
  font-size: 23px;
  letter-spacing: 1.2px;
}

.page-item {
  background-color: red;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  .PageLinkActive {
    background-color: red;
  }
}
.page-link {
  padding: 14px 17px;
  position: relative;
  display: block;
  color: #b5c1d2;
  text-decoration: none;
  background-color: #444;
  border: 1px solid #2b2c2e;
}
.filter {
  flex-basis: 20%;
  padding: 0px 10px;
  align-self: flex-start;
  border: 1px solid #eaeaea;
  p {
    color: $text-color;
  }
  h5 {
    color: $text-color;
  }
}
.list {
  flex-basis: 75%;
}
.catopgory-box {
  li {
    color: $text-color;
    text-transform: capitalize;
    &:hover {
      color: #fba00c;
    }
  }
}
