.expedition {
  display: flex;

  .trip-box {
    border-bottom: 2px solid #cecece;
    h6 {
      font-size: 17px;
      font-weight: 500;
    }
  }
  .filter-box {
    .view-more {
      a {
        text-decoration: underline;
        font-size: 14px;
        font-weight: 400;
        color: #afafaf;
      }
    }
    flex-basis: 20%;
    margin-right: 16px;

    h1 {
      font-size: 18px;
      font-weight: 500;
    }
  }
  .triplist {
    .filter-icon {
      position: absolute;
      right: 0;
      background-color: transparent;
    }
    ul li {
      margin-bottom: 7px;
    }
    .tour-event {
      ul {
        li {
          font-size: 15px;
          font-weight: 500;
          color: #313131;
        }
      }
    }
    .tour-type {
      ul {
        li {
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
    .title-trip {
      border-bottom: 1px solid #c5c5c5;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      color: #4c4c4c;
    }
    flex-basis: 80%;

    h1 {
      font-size: 24px;
      font-weight: 600;
    }
    h5 {
      font-size: 22px;
      font-weight: 500;
    }
    .img-content {
      .tick {
        font-size: 17px;
        color: $yellow;
      }
      span {
        color: #afafaf;
        font-size: 16px;
        font-weight: 500;
      }
      p {
        color: #313131;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .expedition-box {
    .price {
      margin-top: 10px;
      border: 1px dashed $yellow;
      @include center;
      padding: 20px 8px;
      span {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 600;
      }
      p {
        color: #4c4c4c;
        font-size: 20px;
        font-weight: 600;
      }
    }

    span {
      font-size: 16px;
      font-weight: 400;
      color: #4c4c4c;
      text-transform: capitalize;
    }
  }
}
.select-box {
  position: relative;
}
.filter-box {
  .filter-container {
    h6 {
      font-size: 15px;
      font-weight: 600;
    }

    border: 2px solid #c5c5c5;
    border-radius: 6px;
  }
  .spesifice-date {
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 7px 7px;
    .date {
      color: #cccccc;
    }
    span {
      color: #afafaf;
      font-size: 14px;
      font-family: 400;
    }
  }
  .activities {
    border-bottom: 0px !important;
  }
  .check-box {
    padding: 17px 10px;
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
      padding: 4px 0px !important;
    }
    border-bottom: 1.5px solid #c5c5c5;
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .filter-title {
    padding-top: 22px;
    h1 {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
