.footer {
  .form {
    @include potrait {
      margin-top: 0;
    }
  }
  .inquery-form {
    display: block;
    @include potrait {
      display: none !important;
    }
  }
  .mb-query {
    display: none;
    @include potrait {
      display: block;
    }
  }
  padding: 28px 0px;
  background-color: #023047;
  color: #fff;
  ul {
    li {
      margin-bottom: 11px;
      transition: all 0.5s linear;
      &:hover {
        transform: translateY(-10px);
        a {
          color: $yellow;
        }
      }
      a {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
      }
    }
  }
  h1 {
    font-size: 21px;
    font-weight: 500;
    @include potrait {
      font-size: 20px !important;
    }
  }
}
.brand {
  padding: 20px 0px;
  span {
    font-size: 18px;
    font-weight: 600;
    color: #023047;
  }
  .img-fluid {
    width: 67%;
    @include potrait {
      width: 27% !important;
    }
  }
}
.social-nedia-icon {
  margin: 0px 10px;
  a {
    &:hover {
      color: $yellow;
      .icon-box {
        border: 1px solid $yellow;
      }
    }
    color: #fff;
    .icon-box {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 50%;
      @include center;
    }
  }
}
.icon-container {
  margin-top: 100px;
  @include potrait {
    margin-top: 24px !important;
  }
  display: flex;
  align-items: center;
}
.footer-bottom {
  h3 {
    font-size: 16px;
    font-weight: 400;
    color: #023047;
    padding: 10px 0px;
    text-align: center;
  }
}
.brand-section {
  border-bottom: 1px solid #e4e4e4;
}
