header {
  .mb-logo {
    width: 100px !important;
    @include desktop {
      display: none !important;
    }
  }
  .logo {
    width: 202px;
  }
  .navbar-brand {
    display: none;
    @include potrait {
      display: block;
    }
  }
  .navbar-light .navbar-toggler {
    background-color: $yellow;
  }
  .MenuIcon {
    color: #ffff;
    font-size: 20px;
    background-color: $yellow;
    border-radius: 4px;
  }

  .innr-top {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  .header-top {
    padding: 8px 0px;
    @include center;
    @include potrait {
      display: none;
    }

    h1 {
      font-size: 19px;
      font-weight: 600;
      color: $yellow;
      span {
        font-size: 19px;
        padding: 0px 3px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          background-color: #fb8500;
          width: 2px;
          height: 18px;
          transform: rotate(19deg);
          top: 4px;
          left: 0;
        }
      }
    }
  }
  .mid-header {
    @include mini {
      display: none;
    }
    padding: 15px 0px;
    .email {
      span {
        font-weight: 400;
        font-size: 13px;
        color: $text-color;
      }
      h5 {
        color: $gray;
        font-weight: 500;
        font-size: 17px;
        &:hover {
          color: $yellow;
        }
      }
      @include center;
      .icon {
        font-size: 40px;
        color: $gray;
      }
    }
  }
  .bg-light {
    background-color: $text-color !important;
    @include mini {
      padding: 17px 0px !important;
    }
    .navbar-nav {
      z-index: 444;
      @include mini {
        position: absolute;
        background-color: $text-color;
        top: 61px;
        left: 0;
        width: 100%;
        padding: 7px 37px;
      }
    }
    .active {
      color: $yellow;
    }
    .nav-item {
      position: relative;
      padding: 15px 0px;

      .nav-link {
        color: #ffff !important;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 25px;

        &:hover {
          color: $yellow !important;
        }
        @include mini {
          padding: 0px;
        }

        @include potrait {
          padding: 0px 10px !important;
        }
      }
      .drop-menu {
        position: absolute;
        background-color: $text-color;
        padding: 15px 20px;
        width: 100px;
        padding-top: 15px;
        top: 35px;
        left: 20px;
        z-index: 333;
        li {
          text-transform: uppercase;
          margin-bottom: 10px;

          a {
            font-size: 17px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
            &:hover {
              color: $yellow !important;
            }
          }
        }
      }
    }
  }
}
.menu {
  @include mini {
  }
}
.fix-menu {
  background-color: $text-color !important;
  // padding: 22px 0px !important;
  color: #ffff !important;
  position: fixed;

  width: 100%;

  top: 0px;
  left: 0;
  right: 0;
  z-index: 999;
  animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -webkit-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -moz-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -o-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  // -webkit-box-shadow: 0 4px 16px rgb(0 0 0 / 29%);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.29);
  .navbar-nav {
    top: 66px !important;
  }
}
@keyframes fixedAnim {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.navbar-nav {
  @include potrait {
    padding: 14px 10px !important;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 18px 0px;
    z-index: 33;
    li.nav-item {
      padding: 10px 0px;
      font-size: 15px !important;
      font-weight: 500 !important;
      @include mini {
        padding: 10px 0px;
        font-size: 15px !important;
        font-weight: 500 !important;
      }
    }
  }
}

.rotateIcon {
  transform: rotate(180deg);
}
