header {
  .mb-logo {
    @include desktop {
      display: none !important;
    }
  }
  .logo {
    width: 202px;
  }
  .navbar-brand {
    display: none;
    @include potrait {
      display: block;
    }
  }
  .navbar-light .navbar-toggler {
    background-color: $yellow;
  }
  .MenuIcon {
    color: #ffff;
    font-size: 30px;
    background-color: $yellow;
    border-radius: 4px;
  }

  .innr-top {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  .header-top {
    padding: 8px 0px;
    @include center;
    @include potrait {
      display: none;
    }

    h1 {
      font-size: 19px;
      font-weight: 600;
      color: $yellow;
      span {
        font-size: 19px;
        padding: 0px 3px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          background-color: #fb8500;
          width: 2px;
          height: 24px;
          transform: rotate(19deg);
          top: 4px;
          left: 0;
        }
      }
    }
  }
  .mid-header {
    @include mini {
      display: none;
    }
    padding: 15px 0px;
    .email {
      span {
        font-weight: 400;
        font-size: 13px;
        color: $text-color;
      }
      h5 {
        color: $gray;
        font-weight: 500;
        font-size: 17px;
      }
      @include center;
      .icon {
        font-size: 40px;
        color: $gray;
      }
    }
  }
  .bg-light {
    background-color: $text-color !important;
    padding: 22px 0px !important;
    .nav-item {
      .nav-link {
        color: #ffff !important;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 27px;
      }
    }
  }
}
.fix-menu {
  // color: #ffffff;
  background-color: $text-color !important;
  // padding: 22px 0px !important;
  color: #ffff !important;
  position: fixed;

  width: 100%;

  top: 0px;
  left: 0;
  right: 0;
  z-index: 999;
  animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -webkit-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -moz-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -o-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  // -webkit-box-shadow: 0 4px 16px rgb(0 0 0 / 29%);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.29);
  .navbar-nav {
    top: 109px !important;
  }
}
@keyframes fixedAnim {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.navbar-nav {
  @include potrait {
    .ps-0 {
      padding-left: 2rem !important;
    }
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #fb8500;
    position: absolute;
    top: 101px;
    right: 0;
    z-index: 33;
    li.nav-item {
      padding: 10px 0px;
      font-size: 15px !important;
      font-weight: 500 !important;
    }
  }
}
